<title>{{title}}</title>


<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-2 shadow " id="navbarSupportedContent" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/Logo.jpg" style="max-height: 50px;">
        Shoppe</a>
      <button class="navbar-toggler ms-auto me-2 pull-left"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let item of menuItems ">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-current="page" [routerLink]="item.link" >{{item.title}}</a>
          </li>
        </ul>

        
      </div>
      
      
    
    <span *ngIf="cart.numberOfItems > 0" class="pull-right">
       
      <!-- <fa-icon [icon]="faCart" routerLink="/checkout" class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top" title="Total: {{cart.cartPrice}}">
        Cart
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{cart.numberOfItems}}
          
        </span>
      </fa-icon> -->
      <a  routerLink="/checkout" class="nav-link nav-icon position-relative me-2" data-bs-toggle="tooltip" data-bs-placement="left" title="Total: {{cart.cartPrice}}">
        <fa-icon [icon]="faCart"></fa-icon>
        <span class="position-absolute top-0 start-100 translate-middle badge badge-light rounded-circle bg-danger">{{cart.numberOfItems}}</span>
      </a>
      
    </span>
  </div>
  </nav>
<toast message="test"></toast>
<router-outlet></router-outlet>

<footer class="mt-auto border-top border-1">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col" id="footer-left">
        <h1>Shoppe</h1>
      </div>
      <div class="col align-middle" style="height:100%"  id="footer-center">
        {{copyright}}
      </div>
      <div class="col" id="footer-right">
       
      </div>
    </div>
  </div>
</footer>
<!-- <script>
  const navLinks = document.querySelectorAll('.nav-item')
const menuToggle = document.getElementById('navbarSupportedContent')
const bsCollapse = new bootstrap.Collapse(menuToggle)
navLinks.forEach((l) => {
 
    l.addEventListener('click', () => { 
      bsCollapse.toggle() 
      console.log('click')
    })
})
</script> -->