
<div class="container-sm">
    <div>
    <h1 class="display-1">The Shoppe</h1>
    <hr class="mb-0 fade-in-text-1">
    <p class="text-body-secondary text-end mt-0  fade-in-text-2">One Sale At a Time</p>
    <div class="container-sm">
        <span>At The Shoppe, we offer a wide variety of coffee drinks to suit every taste. From classic espresso drinks like lattes, cappuccinos, and macchiatos, to unique specialty drinks like the London Fog and the Hazelnut Mocha, we have something to tantalize everyone’s taste buds. We also offer a selection of teas, smoothies, and freshly baked pastries. Our baristas use only the freshest ingredients to craft each drink and take pride in their artistry. With our creative menu and knowledgeable baristas, The Shoppe is the perfect spot for coffee aficionados and casual coffee drinkers alike.</span>
        
    </div>
    <div class="m-2 text-center">
        <button class="btn btn-primary" [routerLink]="['shop']">View Store</button>
    </div>
    
</div>
</div>
