<div class="container-sm" style="max-width: 500px">
  <div class="card mx-auto m-2">
    <div class="card-header">
      <h1 class="h1">Checkout</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Please take a moment to review Your items</h5>
      
      <div class="row gap-2 p-2">
          <div class="col-12">
            <div class="row">
              <div class="col-1">
                #
              </div>
              <div class="col-7 mx-auto">
                Name
              </div>
            </div> 
          </div>
          <div *ngFor="let item of cart.items" class="border col-12">
            <div class="row">
              <div  class="col-1  border-end d-flex">
            
                <div class="mx-auto d-flex align-items-center" >
                              {{item.numberItems}}
                </div>
              </div>
              <div  class="col-7  border-end d-flex">
                
                <div class="me-auto d-flex m-1" >
                  <img [src]="getImageUrl(item.item.upc)" style="max-width: 50px;" alt="">
                             <div class="ms-1">
                              <b>{{item.item.name}} </b><br>
                              <p style="font-size: x-small;"> UPC: {{item.item.upc}}</p>
                             </div> 
                </div>
              </div>
              <div  class="col-3  border-end d-flex">
                
                <div class="me-auto d-flex m-1" >
                  
                </div>
              </div>
              <div  class="col-1 m-0 p-0 d-flex justify-content-center">
               
                <a  (click)="removeItem(item)" class="m-1 p-0 d-flex align-items-center"><fa-icon [icon]="faTrash"></fa-icon></a>
                
              </div>
           
            </div>
          
      
        </div>
        
      </div>
   
      <hr>
      <span class="d-flex">
        <div class="ms-auto row gap-2 m-2">

        
        <a (click)="clearCart()" class="btn btn-danger col"> <fa-icon [icon]="faTrash"></fa-icon></a>
        <a href="#" class="btn btn-primary col ">Checkout</a>
      </div>
      </span>
      
    </div>
  </div>
</div>